@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
        url("../fonts/Roboto-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
/* =============== */
body {
    font-family: "Roboto";
    background: #d9e7ee;
}
.wrapper {
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
/* =============== */
[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
/* =============== */
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 15px;
    background-color: #fff;
    /* opacity: 0.8; */
    z-index: 50;
    text-align: center;
    font-size: 30px;
}
h1 {
    font-family: "Roboto";
    font-weight: 700;
}
.main {
    padding-top: 80px;
}
.main__title {
    font-weight: 700;
    padding: 0 0px 20px 20px;
}
.footer {
}
